body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

.bodyShoppingList {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

.header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-direction: row; 
    background: #BFD8AF;
    padding: 10px 20px;
}


body {
    background-color: white;
}

.icon-arrow {
    height: 49px;
    width: 49px;
}

#shoppingListTag {
    font-size: 30px;
    font-weight: 900;
}

.input-container {
    display: flex;
    flex-direction: column; 
}

.changeShoppingListName {
    display: flex;
    flex-direction: row;
}

.input-container input {
    height: 30px;
}

.defineProduct {
    display: flex;
    flex-direction: row;
}

#addProduct {
    height: 30px;
    margin-left: auto; 
    flex-basis: fit-content;
}

.addListName {
    height: 30px;
    margin-left: auto; 
    flex-basis: fit-content;
}

#shoppingListName {
    display: flex;
    min-height: 30px;
    width: 87.8%;
    margin-bottom: 16px;
}

#productInput {
   
    margin-right: auto;
}

#quantityInput {
    width: 25.5%;
}

.btn {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    
}

#productList {
  margin: 36px 0;
}

.productItem {
    background-color: #DBE6D4;
    margin: 5px 10px;
    border-radius: 5px;
    padding: 5px;
}

.icons-container {
    display: grid;
    gap:10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0 auto;
    max-width: 500px;
}

.icon-container {

    background-color:#FFF8E6;
    border: none;
    border-radius: 0 0 15px 15px;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
   
}

.accountPage {
  background-color: #FFF8E6;
  
}

@media only screen and (max-width: 390px) {
    .icon-container img {
        width: 20px;
    }
    .icons-container {
        margin: 0 20px;
    }
}

.icon-container i {
    font-size: 24px;
}

.icon-container span {
    display: flex;
    font-size: 13px;
    margin-top: 5px;
    justify-content: center;
}

#bodySignUp {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #DBE6D4;
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
}

label {
    margin: 0.5rem 0;
    font-family: Montserrat, sans-serif;
}

.inputSignIn {
    display: block;
    margin: 20px 0;
    width: -webkit-fill-available;
    min-height: 2.5em;
    font-family: Montserrat, sans-serif;
    border-radius: 3px;
    border: 0;
    padding: 0 10px;
}

.signInText {
    text-align: center;
    font-family: Montserrat, sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 75%;
    margin: 30px;
}

.flex-item {
    align-content: flex-end;
}

.submitButton {
    color: black;
    background-color: #F4C64E;
    text-align: center;
    width: 50%;
    padding: 10px;
    display: flow;
    margin: 20px 0;
    border-radius: 10px;
    border: none;
    font-family: Montserrat, sans-serif;
    position: relative;
    float: right;
}

.inputFields {
    width: 75%;
    position: relative;
    margin: 20px auto;
}

.noAccount {   
    display: inline-block; 
    text-align: center; 
    width: 100%;
}

.signUp {
    text-decoration: underline;
}

img {
    padding: 15px;
}

/* Footer styles */
.footer {
    background-color: #BFD8AF;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    color: white;
    margin-top: auto;
}

.footer-column {
    flex: 1;
    margin: 0 20px;
}

.footer-column p {
    margin: 5px 0;
}

.footer img {
    max-width: 100px;
}

.footer i {
    margin: 5px;
    font-size: 24px; 
}

.footer p {
    color: black; 
}

/* Account page*/
 
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.profileName {
    display: inline-block;
    text-align: center;
}

.photoDiv {
    align-self: center;
    margin-top: 22px;
}

.photo {
    max-height: 200px;
    max-width: 200px;
}